@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.wrapper{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.main{
    width: 100%;

    &__start{
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(10px);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20vh;
        z-index: 2;
        transform: all 0.5s;

    }

    &__words{
        display: flex;
        align-items: left;
        flex-direction: column;
        color: rgb(255, 255, 255);
        gap: 5vh;
        font-size: 4vh;
        position: absolute;
        bottom: 0;
        left: 40%;
        z-index: 3;
    }
    &__words__word{
        letter-spacing: 5vh;
    }

    &__start--hidden{
        display: none;
    }

    &__start__title{
        font-weight: 700;
        font-style: normal;
        font-size: 15vh;
        color: rgb(255, 255, 255);
    }

    &__start__button{
        background-color: rgb(255, 255, 255);
        width: 20vh;
        height: 5vh;
        border-radius: 10px;
        border: none;
        color: rgb(0, 0, 0);
        cursor: pointer;

        &:hover{
            box-shadow: 0 0 20px 5px rgb(255, 255, 255);
        }
    }


    &__canvas{
        position: absolute;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    &__car__headlight{
        position: absolute;
        z-index: 2;
        background-color: rgb(255, 255, 255);
        right: 111.6vh;
        top: 54vh;
        width: 12.5px;
        height: 9px;
        border-radius: 20%;
        box-shadow: 0 0 10px 5px rgb(255, 255, 255);
        transition: all 1s;
        
    }
    &__car__headlight--right{
        right: 120.9vh;
        top: 54vh;
    }

    &__car__headlight--active{
        box-shadow: 0 0 100px 30px rgb(255, 255, 255);
    }

    &__gallows{
        width: 5vh;
        position: absolute;
        right: 96.3vh;
        top: 10vh;
    }
    &__guy__item{ 
        width: 6vh;
        filter: brightness(60%);
    }
    &__guy__item--head{
        position: absolute;
        right: 96.2vh;
        top: 19.5vh;
    }
    &__guy__item--body{
        position: absolute;
        right: 95.4vh;
        top: 28.2vh;
    }
    &__guy__item--leftHand{
        width: 3.5vh;
        position: absolute;
        right: 98.9vh;
        top: 28.1vh;
    }
    &__guy__item--rightHand{
        width: 3vh;
        position: absolute;
        right: 94.6vh;
        top: 27.9vh;
    }
    &__guy__item--leftLeg{
        width: 3vh;
        position: absolute;
        right: 98.3vh;
        top: 37.6vh;
    }
    &__guy__item--rightLeg{
        width: 3vh;
        position: absolute;
        right: 95.4vh;
        top: 37.6vh;
}

}