@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.wrapper{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover
}
.main{
    width: 100%;

    &__gallows{
        width: 5vh;
        position: absolute;
        z-index: 2;
        right: 96.3vh;
        top: 10vh;
    }
    &__guy{
        position: relative;
        display: none;
    }

    &__guy__item{ 
        width: 6vh;
    }
    &__guy__item--head{
        position: absolute;
        z-index: 3;
        right: 96.2vh;
        top: 19.5vh;
    }
    &__guy__item--body{
        position: absolute;
        z-index: 3;
        right: 95.4vh;
        top: 28.2vh;
    }
    &__guy__item--leftHand{
        width: 3.5vh;
        position: absolute;
        z-index: 3;
        right: 98.9vh;
        top: 28.1vh;
    }
    &__guy__item--rightHand{
        width: 3vh;
        position: absolute;
        z-index: 3;
        right: 94.6vh;
        top: 27.9vh;
    }
    &__guy__item--leftLeg{
        width: 3vh;
        position: absolute;
        z-index: 3;
        right: 98.3vh;
        top: 37.6vh;
    }
    &__guy__item--rightLeg{
        width: 3vh;
        position: absolute;
        z-index: 3;
        right: 95.4vh;
        top: 37.6vh;
}

}