@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.bg{
    position: absolute;
    width: 100%;
    height: 100vh;
}
.main{

    &__start{
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(10px);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20vh;
        z-index: 2;
        transform: all 0.5s;
    }
    &__start--loose{
        box-shadow: inset 0 0 100px rgb(255, 0, 0);
    }
  

    &__words{
        display: flex;
        align-items: left;
        flex-direction: column;
        color: rgb(255, 255, 255);
        gap: 5vh;
        font-size: 4vh;
        position: absolute;
        bottom: 0;
        left: 40%;
        z-index: 3;
    }
    &__words__word{
        letter-spacing: 5vh;
    }

    &__start--hidden{
        display: none;
    }

    &__start__title{
        font-weight: 700;
        font-style: normal;
        font-size: 15vh;
        color: rgb(255, 255, 255);
    }

    &__start__button{
        background-color: rgb(255, 255, 255);
        width: 20vh;
        height: 5vh;
        border-radius: 10px;
        border: none;
        color: rgb(0, 0, 0);
        cursor: pointer;

        &:hover{
            box-shadow: 0 0 20px 5px rgb(255, 255, 255);
        }
    }


    &__canvas{
        position: absolute;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    &__car{
        position: absolute;
        width: 100%;
        height: 100vh;
    }

    &__car__headlight{
        position: absolute;
        z-index: 2;
        background-color: rgb(255, 255, 255);
        right: 54.2%;
        top: 49.9%;
        width: 12.5px;
        height: 9px;
        border-radius: 20%;
        box-shadow: 0 0 10px 5px rgb(255, 255, 255);
        transition: all 1s;
        
    }
    &__car__headlight--right{
        right: 58.7%;
        top: 49.9%;
    }

    &__car__headlight--active{
        box-shadow: 0 0 100px 30px rgb(255, 255, 255);
    }

    &__guy{
        position: absolute;
        width: 100%;
        height: 100vh;
    }
    &__gallows{
        width: 5vh;
        position: absolute;
        right: 46.8%;
        top: 10%;
    }

    &__guy__item{ 
        width: 6vh;
        filter: brightness(60%);
    }
    &__guy__item--head{
        position: absolute;
        right: 46.8%;
        top: 20%;
    }
    &__guy__item--body{
        position: absolute;
        right: 46.4%;
        top: 28.8%;
    }
    &__guy__item--leftHand{
        width: 3.5vh;
        position: absolute;
        right: 48%;
        top: 28.8%;
    }
    &__guy__item--rightHand{
        width: 3vh;
        position: absolute;
        right: 45.8%;
        top: 28.8%;
    }
    &__guy__item--leftLeg{
        width: 3vh;
        position: absolute;
        right: 47.7%;
        top: 38.1%;
    }
    &__guy__item--rightLeg{
        width: 3vh;
        position: absolute;
        right: 46.3%;
        top: 38.1%;
}
}